<!--
  Page Name   : Change_Forecast_Category_List_View
  Page URL    : /apex/Change_Forecast_Category_List_View
  Description : a VF page to set the forecast category independent of stage for multiple opportunities
  Author      : Sorna (Perficient)
  Version     : 1.0
  Date        : 07/10/2013
-->

<apex:page StandardController="Opportunity" recordSetVar="opportunities" extensions="ChangeForecastCategoryListViewController">
    <apex:form >
        
        <apex:sectionHeader title="Opportunity Edit"/>
        
        <apex:pageMessages ></apex:pageMessages>
        
        <apex:commandButton value="Go Back to Previous Page" action="{!cancel}" rendered="{!!showFields}"/>
        
        <apex:pageBlock mode="edit" rendered="{!showFields}">
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!saveOpty}"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection columns="1" title="Change Sales Stage and Forecast Category">
                <apex:inputField value="{!o.StageName}"/> 
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Forecast Category"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList id="ForecastCategory" value="{!category}" size="1">
                            <apex:selectOptions value="{!categoriesList}"></apex:selectOptions>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:inputField value="{!o.CloseDate}"/>
                <apex:inputField value="{!o.NextStep}"/>
                <apex:inputField value="{!o.RD_RVP_Comments__c}"/>


            </apex:pageBlockSection>            
        </apex:pageBlock>
        
    </apex:form>
</apex:page>