<apex:page tabstyle="Account"  controller="GapNominatioForm" renderAs="{!if($CurrentPage.parameters.p == null, null, 'pdf')}">
  <apex:form style="background-color:#EEEEEE;">
      <apex:outputText style="font-weight:bold;position:auto;font-family:Calibari;font-size:12pt;color:red;font-style:italic;" value="Note : This form will not be saved, please email completed form to gap@rivebed.com 
      "></apex:outputText>
      <apex:pageBlock id="theBlock1" rendered="{!fillForm}">
              <table border="0" cellpadding="5" cellspacing="5" width="80%" height="30%" align="center">
              <apex:pageblockSection columns="3">
                <apex:image id="theImage1" value="{!$Resource.GAP_Icon}" width="100" height="100" style="float:left;"/>
                <apex:outputLabel id="theSection1" style="float:center;font-weight:bold;position:auto;font-family: Calibari;font-size: 18pt;">Global Account Program Nomination Form</apex:outputLabel>
                <apex:image id="theImage2" value="{!$Resource.GAP_Icon}" width="100" height="100" style="float:right;position:absolute;right:50px;"/>
              </apex:pageblockSection>              
              <apex:pageBlockSection columns="1">
                  <apex:pageBlockSectionItem >
                      <apex:outputLabel style="font-weight:bold;position:auto;font-family:Calibari;font-size:12pt;">Question</apex:outputLabel>
                      <apex:outputLabel style="font-weight:bold;position:auto;font-family: Calibari;font-size: 12pt;">Answer</apex:outputLabel>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">1. Name of Global Account Being Nominated:</td><td align="right" style="position:auto;font-family: Calibari;font-size: 12pt;"><apex:inputTextarea cols="75" rows="5"  value="{!ans1}"/></td></tr>-->
                  <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="1. Name of Global Account Being Nominated:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3"  value="{!ans1}"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">2. What program are you interested in nominating this account to? (GAP or GDAP):</td><td align="right">-->
                  <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="2. What program are you interested in nominating this account to? (GAP or GDAP):"></apex:outputText>
                  <apex:selectList id="isGAP_GDAP" value="{!ans2}" size="1">
                      <apex:selectOption itemValue="GAP" itemLabel="GAP"/>
                      <apex:selectOption itemValue="GDAP" itemLabel="GDAP"/>
                  </apex:selectList>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                      <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">Note:  GAP will add up to $150K in additional quota to the GAM, but entitle all opportunities to a 25% addl commission.</td></tr>-->
                      <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">Note:  GDAP has no additional quota, and no 25% additional commission but is expected to be ready to join GAP within 1-2 years.</td></tr>-->
                      <apex:outputText style="line-height: 1.0;position:auto;font-family: Calibari;font-size:7pt;font-style:italic;" value="Note:  GAP will add up to $150K in additional quota to the GAM, but entitle all opportunities to a 25% addl commission."></apex:outputText>
                 </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >    
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size:7pt;font-style:italic;" value="Note:  GDAP has no additional quota, and no 25% additional commission but is expected to be ready to join GAP within 1-2 years."></apex:outputText>    
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                      <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">3. Proposed Global Account Manager Name:</td><td align="right" style="font-size:18px;"><apex:inputTextarea cols="75" rows="5" value="{!ans3}"/></td></tr>-->
                      <apex:outPutText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="3. Proposed Global Account Manager Name:"></apex:outPutText>
                      <apex:inputTextarea cols="55" rows="3" value="{!ans3}"/>
                  </apex:pageBlockSectionItem>    
                  <apex:pageBlockSectionItem >
                      <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">4. WW HQ location:</td><td align="right" style="font-size:18px;"><apex:inputTextarea cols="75" rows="5" value="{!ans4}"/></td></tr>-->
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="4. WW HQ location:"></apex:outputText>
                      <apex:inputTextarea cols="55" rows="3" value="{!ans4}"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                  <!--
                  <tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">5. Is this your NAMED account?:</td><td align="right" style="font-size:18px;"><apex:selectList id="majorAccount" value="{!ans5}" size="1">
                  <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                  <apex:selectOption itemValue="No" itemLabel="No"/>
                  </apex:selectList>
                  </td></tr>
                  -->
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="5. Is this your NAMED account?:"></apex:outputText>
                      <apex:selectList id="majorAccount" value="{!ans5}" size="1">
                          <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                          <apex:selectOption itemValue="No" itemLabel="No"/>
                      </apex:selectList>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                  <!--
                  <tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">6. Is this a G2000 Account?:</td><td align="right" style="font-size:18px;"><apex:selectList id="isG2000Account" value="{!ans6}" size="1">
                  <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                  <apex:selectOption itemValue="No" itemLabel="No"/>
                  <apex:selectOption itemValue="Don't No" itemLabel="Don't No"/>
                  </apex:selectList>
                  </td></tr>
                  -->
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="6. Is this a G2000 Account?:"></apex:outputText>
                      <apex:selectList id="isG2000Account" value="{!ans6}" size="1">
                          <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                          <apex:selectOption itemValue="No" itemLabel="No"/>
                          <apex:selectOption itemValue="Don't No" itemLabel="Don't No"/>
                      </apex:selectList>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                  <!--
                  <tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">7. Decision Making:</td><td align="right" style="font-size:18px;"><apex:selectList id="decisionMaking" value="{!ans7}" size="1">
                  <apex:selectOption itemValue="Centralized" itemLabel="Centralized"/>
                  <apex:selectOption itemValue="Distributed" itemLabel="Distributed"/>
                  <apex:selectOption itemValue="Centralized with local purchasing" itemLabel="Centralized with local purchasing"/>
                  <apex:selectOption itemValue="Don't know" itemLabel="Don't know"/>
                  </apex:selectList>
                  </td></tr>
                  -->
                  <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="7. Decision Making:"></apex:outputText>
                  <apex:selectList id="decisionMaking" value="{!ans7}" size="1">
                      <apex:selectOption itemValue="Centralized" itemLabel="Centralized"/>
                      <apex:selectOption itemValue="Distributed" itemLabel="Distributed"/>
                      <apex:selectOption itemValue="Centralized with local purchasing" itemLabel="Centralized with local purchasing"/>
                      <apex:selectOption itemValue="Don't know" itemLabel="Don't know"/>
                  </apex:selectList>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                      <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">8. Highest level of relationship in account:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans8}"/></td></tr><tr/>-->
                      <apex:outputText style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;" value="8. Highest level of relationship in account:"></apex:outputText>
                      <apex:inputTextarea cols="55" rows="3" value="{!ans8}"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                      <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">a. Have you met with this decision maker in person?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans8a}"/></td></tr><tr/>-->
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="a. Have you met with this decision maker in person?:"></apex:outputText>
                      <apex:inputTextarea cols="55" rows="3" value="{!ans8a}"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                      <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">b. What other relationships do you have in this account?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans8b}"/></td></tr><tr/>-->
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="b. What other relationships do you have in this account?:"></apex:outputText>
                      <apex:inputTextarea cols="55" rows="3" value="{!ans8b}"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageblockSectionItem >
                      <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">c. Which of these decision makers are Rvbd champions?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans8c}"/></td></tr><tr/>-->
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="c. Which of these decision makers are Rvbd champions?:"></apex:outputText>                   
                      <apex:inputTextarea cols="55" rows="3" value="{!ans8c}"/>
                  </apex:pageblockSectionItem>
                  <apex:pageBlockSectionItem >
                      <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">d. Are there other decision makers located outside your territory? If so, where?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans8d}"/></td></tr><tr/>-->
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="d. Are there other decision makers located outside your territory? If so, where?:"></apex:outputText>
                      <apex:inputTextarea cols="55" rows="3" value="{!ans8d}"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                      <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">e. Do you have a split agreement in place with your peer in that territory?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans8e}"/></td></tr><tr/><tr/>-->
                      <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="e. Do you have a split agreement in place with your peer in that territory?:"></apex:outputText>
                      <apex:inputTextarea cols="55" rows="3" value="{!ans8e}"/>
                  </apex:pageBlockSectionItem>
              <!--
              <tr><td align="left" style="position:auto;font-family: Calibari;font-size: 12pt;">8. What program are you interested in nominating this account to? (GAP or GDAP):</td><td align="right"><apex:selectList id="isGAP_GDAP" value="{!ans8}" size="1">
                  <apex:selectOption itemValue="GAP" itemLabel="GAP"/>
                  <apex:selectOption itemValue="GDAP" itemLabel="GDAP"/>
              </apex:selectList></td></tr>
              <tr><td align="left" style="position:auto;font-family: Calibari;font-size: 12pt;">Note:  GAP will add up to $150K in additional quota to the GAM, but entitle all opportunities to a 25% addl commission.</td></tr>
              <tr><td align="left" style="position:auto;font-family: Calibari;font-size: 12pt;">Note:  GDAP has no additional quota, and no 25% additional commission but is expected to be ready to join GAP within 1-2 years.</td></tr>
              -->
              <apex:pageBlockSectionItem >              
                  <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">9. How much revenue have you driven in this fiscal year?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans9}"/></td></tr>-->
                  <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="9. How much revenue have you driven in this fiscal year?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans9}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">a. How much of this revenue was generated by you vs. your peers?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans9a}"/></td></tr>-->
                  <apex:outputText style="line-height: 1.0;position:auto;font-family: Calibari;font-size: 12pt;" value="a. How much of this revenue was generated by you vs. your peers?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans9a}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">b. How much of this revenue was in collaboration with your peers?: (splits should be reflected in these opps):</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans9b}"/></td></tr>-->
                  <apex:outputText style="line-height: 1.0;position:auto;font-family: Calibari;font-size: 12pt;" value="b. How much of this revenue was in collaboration with your peers?:(splits should be reflected in these opps):"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans9b}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >                     
                  <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">c. What products have you sold in this account?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans9c}"/></td></tr>-->
                  <apex:outputText style="line-height: 1.0;position:auto;font-family: Calibari;font-size: 12pt;" value="c. What products have you sold in this account?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans9c}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">10. How much revenue do you expect to drive in next fisical year?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans10}"/></td></tr>-->
                  <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="10. How much revenue do you expect to drive in next fisical year?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans10}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">a. How much of the next fisical year does revenue will be in collaboration with your peers? (splits should be reflected in these opportunities):</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans10a}"/></td></tr>-->
                  <apex:outputText style="line-height: 1.0;position:auto;font-family: Calibari;font-size: 12pt;" value="a. How much of the next fisical year does revenue will be in collaboration with your peers? (splits should be reflected in these opportunities):"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans10a}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">b. What % of the next fisical year's revenue is trade up v. new business?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans10b}"/></td></tr>-->
                  <apex:outputText style="line-height: 1.0;position:auto;font-family: Calibari;font-size: 12pt;" value="b. What % of the next fisical year's revenue is trade up v. new business?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans10b}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;">c. What products do you plan to sell to this account?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans10c}"/></td></tr><tr/>-->
                  <apex:outPutText style="line-height: 1.0;position:auto;font-family: Calibari;font-size: 12pt;" value="c. What products do you plan to sell to this account?:"></apex:outPutText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans10c}"/>
              </apex:pageBlockSectionItem>
              <!--
              <tr><td align="left" style="position:auto;font-family: Calibari;font-size: 12pt;">11. How many RSMs do you plan on collaborating with regularly in the fsical year to close deals in this account?: </td><td align="right"><apex:inputText value="{!ans11}"/></td></tr>
              <tr><td align="left" style="position:auto;font-family: Calibari;font-size: 12pt;">a. List RSM names: </td><td align="right"><apex:inputText value="{!ans11a}"/></td></tr>
              <tr><td align="left" style="position:auto;font-family: Calibari;font-size: 12pt;">b. Are split agreements in place with the other RSMs?: </td><td align="right"><apex:inputText value="{!ans11b}"/></td></tr>
              -->
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">11. Are you willing to commit this account to 3 years in the GAP program?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans11}"/></td></tr>-->
                  <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="11. Are you willing to commit this account to 3 years in the GAP program?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans11}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">12. Will you have an account plan ready to share with your peers by January 1st?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans12}"/></td></tr>-->
                  <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="12. Will you have an account plan ready to share with your peers by January 1st?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans12}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">13. Do you have a partner strategy for this account? Who is the customer's trusted and preferred partner?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans13}"/></td></tr>-->
                  <apex:outputText style="line-height: 2.0;position:auto;font-family: Calibari;font-size: 12pt;" value="13. Do you have a partner strategy for this account? Who is the customer's trusted and preferred partner?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans13}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">14. Who is the customer's trusted and preferred partner?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans14}"/></td></tr>-->
                  <apex:outputText style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;" value="14. Who is the customer's trusted and preferred partner?:"></apex:outputText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans14}"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <!--<tr><td align="left" style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;">15. Total# of sites in account? How many of these sites have SH?:</td><td align="right"><apex:inputTextarea cols="75" rows="5" value="{!ans15}"/></td></tr>-->
                  <apex:outPutText style="line-height: 3.0;position:auto;font-family: Calibari;font-size: 12pt;" value="15. Total# of sites in account? How many of these sites have SH?:"></apex:outPutText>
                  <apex:inputTextarea cols="55" rows="3" value="{!ans15}"/>
              </apex:pageBlockSectionItem>
              </apex:pageBlockSection>
              <center><apex:commandButton value="Email" action="{!prepareEmail}" style="position:auto;font-family: Calibari;font-size: 12pt;"/></center>
              </table>
      </apex:pageBlock>
      <apex:pageBlock id="theBlock2" rendered="{!showMail}">
          <apex:pageBlockButtons >
                <apex:commandButton value="Send Email" action="{!getDeliverAsPDF}" status="sending GAP Nomination Form"/>
                <apex:commandButton value="Cancel" action="{!mCancel}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="GLOBAL  ACCOUNT PROGRAM NOMINATION FORM" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="To" for="to"/>
                    <apex:inputText title="To" value="{!toAddress}" id="to" maxlength="20000" size="150"/> 
                </apex:pageBlockSectionItem>           
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Subject" for="sub"/>
                    <apex:inputText title="Subject" value="{!subj}" id="sub"/> 
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Message" for="body"/>
                    <apex:inputTextarea id="body" title="Message" value="{!body}" cols="183" rows="10"/>
                </apex:pageBlockSectionItem>
           </apex:pageBlockSection>
      </apex:pageBlock>
      <apex:pageBlock id="theBlock3" rendered="{!showMessage}">
         <h1> <apex:outputText style="color:green;font-style:italic" value="{!errorMsg}" /></h1>
         <br/>
         <apex:outputLink value="{!gapLink}" id="theLink">Click Here to go back to GAP Portal</apex:outputLink>
      </apex:pageBlock>
  </apex:form>
</apex:page>