<apex:page controller="PortletController" id="thePage" showHeader="false" sidebar="false" rendered="{!tabActive}">

<apex:stylesheet value="{!URLFOR($Resource.customAreaSkinZIP, 'customAreaSkin/customArea.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.customAreaSkinZIP, 'customAreaSkin/riverbedPortlet.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.customAreaSkinZIP, 'customAreaSkin/uiBox.css')}"/>

<apex:includeScript value="{!URLFOR($Resource.customAreaSkinZIP, 'customAreaSkin/includes/swfobject.js')}"/>
<apex:includeScript value="{!$Resource.jquerySCRIPT}"/>
<apex:includeScript value="{!$Resource.lumCustomAreaFunctionsSCRIPT}"/>

<!--
<script type="text/javascript">
            var flashvars = {};
            var params = {};
            params.menu = "false";
            params.wmode = "opaque";
            params.scale = "noscale";
            params.salign = "tl";
            var attributes = {};
            
            
            swfobject.embedSWF("/servlet/servlet.FileDownload?file=01570000000y1bf", "homepageflashBanner", "470", "232", "9.0.0", "swf/expressInstall.swf", flashvars, params, attributes);
</script>
-->
<style type="text/css">
#portletWrapper{
    margin-right:20px;
    
}
#homepageflashBanner img{
    float:left;
    border:none;
    }
</style>

<script type="text/javascript">

</script>
<!--[if IE 6]>
<![endif]-->
<!--[if IE 7]>
<![endif]-->



<div id="topRowWrapper">

<div id="portletWrapper"> 

<div id="portletHeader">
<div id="leftTitle">I'm Interested In...</div>
<div id="rightTitle">And Would Like To See...</div>
</div>

            <div id="portletContent">
            <apex:form id="theForm">
            <div id="leftColumnWrapper">
            <ul id="portletLeftNav">
                <apex:repeat value="{!leftNavs}" var="leftNav" id="leftNav">
                    <li id="{!IF(BEGINS(leftNav.Id, selectedNav), 'selectedNav', 'nav')}"><apex:commandLink action="{!selectLeftNav}" reRender="theForm">
                        {!leftNav.Name}
                        <apex:param name="leftNavId" value="{!leftNav.Id}"/>
                        </apex:commandLink>
                    </li>
                </apex:repeat>
            </ul>
            <div id="leftSideBG"></div>
            </div>
    
           
            
            <ul id="portletRightNav">
                <apex:repeat value="{!rightNavs}" var="rightNav" id="rightNav">
                    <li><a href="{!rightNav.Document_Url__c}" target="{!IF(rightNav.Open_In_New_Window__c, '_blank', '_parent')}">{!rightNav.Document_Name__c}</a></li>
                </apex:repeat>
            </ul>
            
            </apex:form>
            
            <div id="portletClearBoth"></div>
            </div>
        
    
<div id="portletFooter"></div>
</div>
    

<div id="homepageflashBanner">
<a href="http://riverbed.luminosity-group.com/partnerportaltraining/dealreg.html" rel="nofollow" target="_top" onclick="return openTopSBX(this)"  ><apex:image url="{!$Resource.LumDealRegJPG}" width="235" height="232" /></a>
<a href="http://riverbed.luminosity-group.com/partnerportaltraining/mdf.html" rel="nofollow" target="_top" onclick="return openTopSBX(this)" title="" ><apex:image url="{!$Resource.lumMDFLaunchJPEG}" width="235" height="232" /></a>


</div>
</div>

<apex:repeat value="{!headlines}" var="headline" id="headlines">
<div id="uiBoxWrapper">
    <div id="uiBoxHeader"><h1>{!headline.Name}</h1></div>
    <div id="uiBoxImage"><apex:image url="{!headline.Image__c}"/></div>
    <div id="uiBoxContent"><p>{!headline.Description__c}</p><br/>

        <apex:repeat value="{!headline.Portlet_Right_Navigations__r}" var="headlineLinks" id="headlineLinks">
            <a href="{!headlineLinks.Document_Url__c}" target="{!IF(headlineLinks.Open_In_New_Window__c, '_blank', '_parent')}">{!headlineLinks.Document_Name__c}</a>

        </apex:repeat>

    </div>
    <div id="uiFooter"></div>
</div>
</apex:repeat>
    



    

</apex:page>