<apex:page standardController="Case">

  <script src="{!$Resource.jquery_1_7_min}"/>

  <div style="display:none; margin:0 auto; text-align:center;" id='kb_loading'>
      <h2>{!$Label.INQ_LoadingLabel}</h2>
      <p><img src="{!$Resource.INQ_LoadingGraphic}"/></p>
  </div>​
  <div style="margin:0 auto; text-align:left;" id="kb_search">
      <div id="searchkb_input">
          <table>
              <tr>
                  <td style="width:18%; text-align:right; "><span style="font-family:Arial,Helvetica,sans-serif; font-size:11px; font-weight:700;
                                                     color:#4A4A56; text-align:right; vertical-align:top; ">Ask Question</span></td>
                  <td><span><input type="text" size="110" name="question_box" id="question_box" 
                            onclick="postponeInqSearch()" /></span></td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
                  <td><span><input class="btn" type="button" id="submit_question" name="submit_question" value="Search KB for Solution" 
                                  onclick="initiateInqSearch();" /></span></td>
              </tr>
          </table>
      </div>
  </div>


  <iframe id="inquira_search_frame" style="display:none;" width="100%" height="600" src="about:blank"/>
  
  <script type="text/javascript">
      
      var inqAutoSearchTimeoutVal = 1000*{!$Label.INQ_AutoSearchTimeout};
      var inqAutoSearchTimeout = null;
      var inqIsAutoSearch = false;
      var inqEncSearchQuestion = '{!URLENCODE(Case.Subject)}';        // URL encoded question
      var inqDecSearchQuestion = unescape(inqEncSearchQuestion.replace(/\+/g, ' '));      // URL decoded question
      $('#question_box').val(inqDecSearchQuestion);
      
      function updateQuestion(str) {
          inqDecSearchQuestion = str;
          inqEncSearchQuestion = escape(inqDecSearchQuestion);
      }
      
      function postponeInqSearch() {
          if (inqAutoSearchTimeout != undefined) {
              window.clearTimeout(inqAutoSearchTimeout);
              inqIsAutoSearch = false;
          }
      }
      
      function initiateInqSearch() {
          postponeInqSearch();
          updateQuestion($('#question_box').val());
          load_INQSearch();
      }
      
      function load_INQSearch() {
          $('#kb_search').hide();
          $('#kb_loading').show();
          $('#inquira_search_frame').load(function() {
              $('#kb_search').hide();
              $('#kb_loading').hide();
              $('#inquira_search_frame').show();
          });
          var inqSearchParams = "page=cca&type=search&newsearch=y&cca_system=SFDC&question_box="+inqEncSearchQuestion+"&sr_key={!Case.CaseNumber}&fac=CMS-CATEGORY-SUPPORT-PRODUCT.{!URLENCODE(SUBSTITUTE(UPPER(Case.Products__c),' ','_'))}&access_token={!$Api.Session_ID}";
          if (inqIsAutoSearch) inqSearchParams = inqSearchParams + "&source=cca_initial_search_auto";
          $('#inquira_search_frame').attr('src', "{!$Label.INQ_URLPrefix}://{!$Label.INQ_BaseURL}/{!$Label.INQ_SupportSiteName}/index?" + inqSearchParams);
      }
      
      $(document).ready(function() {
           inqAutoSearchTimeout = window.setTimeout(load_INQSearch, inqAutoSearchTimeoutVal);
           inqIsAutoSearch = true;
      });

  </script>
    
</apex:page>