<apex:page standardController="Opportunity" extensions="SFDC_OutageMessageController" action="{!onLoad}">
<h1> <apex:outputText style="color:red;font-style:italic" value="{!message}" rendered="{!show}"/> </h1>
</apex:page>