<apex:page showHeader="true" sidebar="false" standardStylesheets="false" tabStyle="Pricing__tab" title="Pricing">
  <iframe src="/servlet/servlet.FileDownload?file=01540000001334A" width="1014" height="700" scrolling="no" frameborder="0" />
</apex:page>