<apex:page standardController="Task" extensions="RCNCustomerReferenceTaskController" showHeader="true" action="{!init}">
<apex:form >
    <apex:pageblock title="Task Edit" id="TaskId" mode="Edit">
      <apex:pageMessages />
       <apex:pageBlockButtons >
                <apex:commandbutton value="Save" action="{!doSave}"/> 
                <apex:commandbutton value="Cancel" action="{!Cancel}"/> 
        </apex:pageBlockButtons>
    <Apex:pageBlockSection title="Request Type" columns="2"> 
        <Apex:actionRegion >
            <apex:pageBlockSectionItem > 
                <apex:outputLabel value="Request Type"/> 
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem > 
                <apex:inputField value="{!t.Request_Type__c}" required="True">
                    <Apex:actionSupport event="onchange" rerender="TaskId" Status="Status"/>
                </Apex:inputField>
            </apex:pageBlockSectionItem>
        </Apex:actionRegion>
      </Apex:pageBlockSection>   
     <apex:pageBlockSection columns="2">  
             <!-- <apex:pageBlockSectionItem > <apex:outputLabel value="Task Type" /><apex:inputField value="{!t.Type}"/> </apex:pageBlockSectionItem> -->
              <apex:pageBlockSectionItem >  <apex:outputLabel value="Type" for="Type"></apex:outputLabel> <apex:selectList id="Type" value="{!t.Type}" size="1" title="Type">
              <apex:selectOptions value="{!Types}"></apex:selectOptions> </apex:selectList> </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem > <apex:outputLabel value="Related To" /><apex:inputField value="{!t.whatid}"/> </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem > <apex:outputLabel value="Date Asked" /><apex:inputField value="{!t.ActivityDate}"/> </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem > <apex:outputLabel value="Request Topic" /><apex:inputField value="{!t.Subject}" required="true"/> </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem > <apex:outputLabel value="Assigned To" /><apex:inputField value="{!t.OwnerId}"/> </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
              <apex:outputLabel value="Status" for="Status"></apex:outputLabel>
              <apex:selectList id="Status" value="{!selectedTaskstatus}"  size="1" title="Status">
              <apex:selectOptions value="{!cStatus}"></apex:selectOptions> </apex:selectList>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem > 
              		<apex:outputLabel value="Requestor Notes" />
              		<!-- <apex:inputField value="{!t.Description}"/> -->
              		<apex:inputTextarea value="{!t.Description}" cols="70" rows="8"/>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem ><apex:outputLabel value="Created date" /><apex:outputField value="{!t.CreatedDate}"/> </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem ><apex:outputLabel value="Requestor" /><apex:outputField value="{!t.CreatedByID}"/>  </apex:pageBlockSectionItem>
     	 </apex:pageBlockSection>
     	 <apex:inputCheckbox value="{!isEmailSend}"/><apex:outputLabel value="Send Notification Email"/>
     	 
         <apex:pageBlockSection title="Customer Contacts" columns="2" rendered="{!t.Request_Type__c=='Sales Request'}">
         <apex:pageBlockSectionItem ><apex:outputLabel value="Prospect Contact"/><apex:inputField value="{!t.whoid}"/></apex:pageBlockSectionItem>
         <apex:pageBlockSectionItem ><apex:outputLabel value="Customer Reference Contact:"/><apex:inputField value="{!temOpp.Primary_Contact__c}"/></apex:pageBlockSectionItem>
         <apex:pageBlockSectionItem > </apex:pageBlockSectionItem>
         <apex:pageBlockSectionItem ><apex:outputLabel value="Customer Reference Contact(other):"/><apex:inputField value="{!temLead.Sold_to_Partner_Contact__c}"/></apex:pageBlockSectionItem>
    </apex:pageBlockSection>     
    <apex:pageBlockSection title="Customer Contacts" columns="2" rendered="{!t.Request_Type__c=='Marketing Request'}">
       <apex:pageBlockSectionItem ><apex:outputLabel value="Customer Reference Contact:"/><apex:inputField value="{!t.whoid}"/></apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem ><apex:outputLabel value="Customer Reference Contact(other):"/><apex:inputField value="{!temLead.Sold_to_Partner_Contact__c}"/></apex:pageBlockSectionItem> 
    </apex:pageBlockSection> 
  </apex:pageBlock>   
 </apex:form>
</apex:page>