<apex:page standardController="RQI_Audit__c" extensions="RQIAverageCtrl" sidebar="false" showHeader="false">

	<apex:outputpanel rendered="{!theAverage != null}">
	{!theAverage}%
</apex:outputpanel>


<apex:outputpanel rendered="{!theAverage = null}">
	No completed Audit is available for this author.
</apex:outputpanel>



</apex:page>