<apex:page standardController="Quote__c" extensions="MarginCalculatorPageExtension">
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockButtons >
                <apex:commandButton value="Send Email" action="{!sendEmail}"/>
                <apex:commandButton value="Cancel" action="{!mCancel}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Scenario Email" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="To" for="to"/>
                    <apex:inputText title="To" value="{!toAddress}" id="to" maxlength="20000" size="150"/> 
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Cc" for="cc"/>
                    <apex:inputText value="{!ccAddress}" id="cc" required="false" maxlength="20000" size="150"/> 
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Subject" for="sub"/>
                    <apex:outputText title="Subject" value="{!subj}" id="sub"/> 
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Message" for="body"/>
                    <apex:inputTextarea id="body" title="Message" value="{!body}" cols="183" rows="10"/>
                </apex:pageBlockSectionItem>
           </apex:pageBlockSection>
        </apex:pageBlock>       
    </apex:form>
</apex:page>