<apex:page standardController="Case" extensions="extSendToPartner_E2CP" action="{!updateField}">
<apex:sectionHeader title="Error Updating Case"/>
  <apex:outputPanel >
      There was a problem updating ther case.  Please try again.<br />
      <apex:outputLink value="/{!Case.Id}">Return to Case</apex:outputLink>
  </apex:outputPanel>
</apex:page>