<!-- 
Page Name: TerritoryPlanning
Created By: Nikhil Singhal (Perficient) - 7/10/2014
This page Support Territory plan View Functionality
-->
<apex:page standardController="Territory_Plan__c" extensions="TerritoryPlanningExtension" standardStylesheets="false">
<table>
<tr>
<td><img src="/img/icon/star32.png"/></td>
<td>
<table>
<tr>
<td><h1 class="pageType">Territory Plan</h1></td>
</tr>
<tr>
<td style="font-size:22px;" >{!TPV.Name}</td>
</tr>
</table>
</td>
</tr>
</table>
<style>
    .activeTab {background-color: #8e9dbe; color:white; background-image:none}
    .inactiveTab { background-color: #D8EDF3; color:black; background-image:none}
    .tabs{font-size:12px;font-weight: bold;}
     .tableheader {
                    background-color:#8E9DBE;
                    color:white;
                    margin: 1em 100px;
                    text-align:center;
                }
                 .tablerow {
                    margin: 1em 100px;
                    text-align:center;
                }
    </style>
<apex:form >
<center>
<apex:commandButton value="Edit" action="{!Editv}"  rendered="{!hasaccess}" />
<apex:commandButton id="Clone" value="Clone" rendered="{!NOT(ISNULL(Territory_Plan__c.Id))}" action="{!CClone}"/>
<apex:commandbutton action="/apex/TerritoryPlanPDF?id={!Territory_Plan__c.id}&tid={!Tr.id}" value="Generate PDF"/>
<apex:commandButton value="Cancel" action="{!Cancelv}" />
</center>
 <apex:pageBlock >
<apex:pageBlockSection title="Territory Plan Overview">
<apex:outputField value="{!Territory_Plan__c.Name}" label="Territory Plan Name:"/>
<apex:Outputtext value="{!Territory_Plan__c.owner.name}" label="Territory Plan Owner:"/>
<apex:OutputField value="{!Tpv.Fiscal_Year__c}" label="Fiscal Year:"/>

<apex:OutputField value="{!Tr.Name}" label="Territory:"/>
<apex:OutputField value="{!Tpv.Status__c}" label="Status:"/>
<apex:OutputField value="{!Tr.TSE__r.name}" label="TSE:"/>
<apex:OutputField value="{!Tpv.Territory_Competitors__c}" label="Territory Competitors:"/>
<apex:OutputField value="{!Tpv.Territory_Top_Customers__c}" label="Customer Territory Top Customers:"/>
</apex:pageBlockSection>
</apex:pageBlock>
<apex:pageBlock id="TBlock" >         
        <apex:pageblockSection title="Territory Team">
        <apex:pageBlockTable value="{!TList}" var="apt" rendered="{!TList.size > 0}">
                 <apex:column headerValue="User:">
                    <apex:OutputField value="{!apt.User__c}" />
                </apex:column>
                <apex:column headerValue="Role:">
                    <apex:OutputField value="{!apt.Role__c}" />
                </apex:column>
                <apex:column headerValue="Access:">
                    <apex:OutputField value="{!apt.Access__c}" />
                </apex:column>
                
            </apex:pageBlockTable> 
        </apex:pageblockSection>        
</apex:pageBlock>
<apex:pageBlock id="QBlock" >         
        <apex:pageblockSection columns="1" title="Account Segmentation">
                    <apex:Outputtext style="font-weight: bold;" value="What accounts do you have with necessary investment to be real growth drivers in your territory? Think across all solutions for the year and what is possible, not what's in the forecast."/>
                   <b> Examine all existing customers, active prospects, and suspects/prospects. “Targeted” accounts can be divided between Tier 1 and Tier 2. “Untargeted” accounts should go into Tier 3. Do not forget about dormant customers.<br /><br />
                    Tier 1 – Need Direct Action<br />
                    Tier 2 – Outbound Partner / ISR Action<br />
                    Tier 3 – Opportunistic Partner / ISR Action<br /></b>
                    
                    <apex:OutputField value="{!Tpv.Tier_1_of_Accounts__c}" />
                    <apex:OutputField value="{!Tpv.Tier_2_of_Accounts__c}" />
                    <apex:OutputField value="{!Tpv.Tier_3_of_Accounts__c}" />
                   </apex:pageblockSection>        
</apex:pageBlock>
<apex:tabPanel switchType="client" selectedTab="ACP" id="theTabPanel"  tabClass="activeTab" inactiveTabClass="inactiveTab">
<apex:tab label="Account Coverage Plan" name="ACP" id="ACP" styleClass="tabs">
                   <table  border="1" cellspacing="0" cellpadding="0" align="left"  width="60%"> 
                    <tbody>
                    <tr>
                    <td class="tableheader"><p><b>Segment</b></p></td>
                    <td class="tableheader"><p><b>Expected Revenue</b></p></td>
                    <td class="tableheader"><p><b># of Existing Accounts</b></p></td>
                    <td class="tableheader"><p><b># of Prospect Accounts</b></p></td>
                    <td class="tableheader"><p><b># of Suspect Accounts</b></p></td>
                    <td class="tableheader"><p><b>Action Items</b></p></td>
                    </tr>
                    <tr  class="tablerow">
                    <td align="left" style="font-weight: normal;">Tier1</td>
                    <td align="left"  style="font-weight: normal;"><apex:outputfield value="{!Atier1.Expected_Revenue__c}" label=""/></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier1.Existing_Accounts__c}" label=""/></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier1.Prospect_Accounts__c}" label=""/></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier1.Suspect_Accounts__c}" label=""/></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier1.Action_Items__c}" label=""/></td>
                    </tr>
                    <tr  class="tablerow">
                    <td align="left" style="font-weight: normal;">Tier2</td>
                    <td align="left" style="font-weight: normal;"><apex:outputfield value="{!Atier2.Expected_Revenue__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier2.Existing_Accounts__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier2.Prospect_Accounts__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier2.Suspect_Accounts__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier2.Action_Items__c}" /></td>
                    </tr>
                    <tr  class="tablerow">
                    <td align="left" style="font-weight: normal;">Tier3</td>
                    <td align="left" style="font-weight: normal;"><apex:outputfield value="{!Atier3.Expected_Revenue__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier3.Existing_Accounts__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier3.Prospect_Accounts__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier3.Suspect_Accounts__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Atier3.Action_Items__c}" /></td>
                    </tr>
                    </tbody>
                    </table>
                           
</apex:tab>
<apex:tab label="Marketing / Pipeline Development Plan" name="MDP" id="MDP" styleClass="tabs">
                  <table border="1" cellspacing="0" cellpadding="0" align="left"  width="60%"> 
                    <tbody>
                    <tr>
                    <td class="tableheader"><p><b>Segment</b></p></td>
                    <td class="tableheader"><p><b>Mktg/Pipeline Development Initiatives (Objectives)</b></p></td>
                    <td class="tableheader"><p><b>Action Items</b></p></td>
                    </tr>
                    <tr class="tablerow">
                    <td align="left" style="font-weight: normal;">Tier1</td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Mtier1.Development_Initiatives__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Mtier1.Action_Items__c}" /></td>
                    </tr>
                    <tr class="tablerow"  >
                    <td align="left"  style="font-weight: normal;">Tier2</td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Mtier2.Development_Initiatives__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Mtier2.Action_Items__c}" /></td>
                    </tr>
                    <tr class="tablerow">
                    <td align="left" style="font-weight: normal;">Tier3</td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Mtier3.Development_Initiatives__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!Mtier3.Action_Items__c}" /></td>
                    </tr>
                    </tbody>
                    </table>
</apex:tab>
<apex:tab label="Channel/Partner Development Plan" name="cDP" id="cDP" styleClass="tabs">
                  <table border="1" cellspacing="0" cellpadding="0" width="60%"> 
                    <tbody>
                    <tr>
                    <td class="tableheader"><p><b>Segment</b></p></td>
                    <td class="tableheader"><p><b>Channel Development Initiatives (Objectives)</b></p></td>
                    <td class="tableheader"><p><b>Action Items</b></p></td>
                    </tr>
                    <tr  class="tablerow">
                    <td align="left" style="font-weight: normal;">Tier1</td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!ctier1.Development_Initiatives__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!ctier1.Action_Items__c}" /></td>
                    </tr>
                    <tr  class="tablerow" >
                    <td align="left"  style="font-weight: normal;">Tier2</td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!ctier2.Development_Initiatives__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!ctier2.Action_Items__c}" /></td>
                    </tr>
                    <tr  class="tablerow">
                    <td align="left"  style="font-weight: normal;">Tier3</td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!ctier3.Development_Initiatives__c}" /></td>
                    <td align="left" style="font-weight: normal;"><apex:outputText value="{!ctier3.Action_Items__c}" /></td>
                    </tr>
                    </tbody>
                    </table>
</apex:tab>
<apex:tab label="Territory Planning Assessment" name="TPA" id="TPA" styleClass="tabs">
<table border="1" cellspacing="0" cellpadding="0" align="left"> 
<tbody>
 <tr>
<td class="tableheader"><p><b>Assessment Area</b></p></td>
<td class="tableheader"><p><b>Score:</b></p></td>
</tr>
<apex:repeat value="{!TpList}" var="apt" rendered="{!TpList.size > 0}">
<tr class="tablerow">
<td align="left"  style="font-weight: normal;">{!apt.Assessment_Area__c}</td>
<td style="background-color:{!apt.Score__c};height:25px;"></td>
</tr>
</apex:repeat>
</tbody>
</table>

</apex:tab>
<apex:tab label="Territory Plan Field History" name="tPH" id="tPH" styleClass="tabs">
<table border="1" cellspacing="0" cellpadding="0" width="60%"> 
<tbody>
<tr>
<td class="tableheader"><p>Field</p></td>
<td class="tableheader"><p>Updated By</p></td>
<td class="tableheader"><p>Old Value</p></td>
<td class="tableheader"><p>New Value</p></td>
<td class="tableheader"><p>Updated Date</p></td>
</tr>

<apex:repeat value="{!Wrows}" var="tl" rendered="{!Wrows.size > 0}">

<tr class="tablerow">
<td  align="left"  style="font-weight: normal;">{!tl.Name}  </td>
<td  align="left"  style="font-weight: normal;">{!tl.APHs.CreatedBy.name}  </td>
<td  align="left"  style="font-weight: normal;">{!tl.APHs.OldValue}  </td>
<td  align="left"  style="font-weight: normal;">{!tl.APHs.NewValue}  </td>
<td  align="left"  style="font-weight: normal;"><apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
    <apex:param value="{!tl.APHs.CreatedDate}" /> 
</apex:outputText>  </td>
</tr>
</apex:repeat>

</tbody>
</table>
</apex:tab>
<apex:tab label="Attachments" name="Atch" id="Atch" styleClass="tabs">
<table border="1" cellspacing="0" cellpadding="0" width="60%"> 
<tbody>
<tr>
<td class="tableheader"><p>File Name</p></td>
<td class="tableheader"><p>Size (KB)</p></td>
<td class="tableheader"><p>Upload Date</p></td>
<td class="tableheader"><p>Created By</p></td>
</tr>

<apex:repeat value="{!attachments}" var="a" rendered="{!attachments.size > 0 }">

<tr class="tablerow">
<td align="left"  style="font-weight: normal;"><a href="{!URLFOR($Action.Attachment.Download, a.Id)}">{!a.name}</a></td>
<td  align="left" style="font-weight: normal;">{!a.BodyLength}</td>

<td align="left"  style="font-weight: normal;"><apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
    <apex:param value="{!a.CreatedDate}" /> 
</apex:outputText>  </td>
<td align="left"  style="font-weight: normal;">{!a.CreatedBy.name}</td>
</tr>
</apex:repeat>

</tbody>
</table>
<apex:outputLabel value="No Files Attached" rendered="{!attachments.size == 0 }" style="width:100%"/>
<apex:inputFile value="{!attachment1.body}" filename="{!attachment1.name}" id="file1" /><br />
<apex:commandButton value="Upload" action="{!upload}"/>
</apex:tab>
</apex:tabPanel>
</apex:form>
</apex:page>