<!-- --------------------------------------------------------------------------------------------------------
Author: Santoshi Mishra
Purpose: The page will enable to add skill set corresponding to user.
Created Date : Jan 2012
------------------------------------------------------------------------------------------------------------ -->

<apex:page standardcontroller="User" extensions="UserSkillsClass">
	<apex:pageMessage summary="1 - Limited knowledge (beginner/novice) 2 – Self-sufficient (intermediate/advanced) 3 - Expert/SME" severity="info" strength="0"/>
<apex:form >
	<apex:pageblock >
	
	<apex:pageblockSection Title="Training Skills Matrix" >
	</apex:pageblockSection>
	<apex:pageBlocktable value="{!trainingUserList}" var="u">
	<apex:column headerValue="Skill Name">
	<apex:outputfield value="{!u.Training_Skills__c}"/>
	</apex:column>
	<apex:column headerValue="Level">
	<apex:outputfield value="{!u.Level__c}"/>
	</apex:column>
	<apex:column />
	</apex:pageBlocktable>
	
	</apex:pageblock>
</apex:form>

</apex:page>