<apex:page standardController="Opportunity" extensions="ViewAllOpptyController" Action="{!getOpptyInfo}">
<apex:form >
<apex:pageBlock mode="view" id="OpptyListId">
<apex:pageBlockSection columns="2" title="Opportunity Detail">
            <apex:pageBlockSectionItem >
                <apex:outputText value="Opportunity Owner" />
                <apex:inputField value="{!opty.OwnerName__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Oppty Name" />
                <apex:outputField value="{!opty.name}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Close Date" />
                <apex:outputField value="{!opty.CloseDate}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Account Name" />
                <apex:outputField value="{!opty.Account.Name}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Stage" />
                <apex:outputField value="{!opty.StageName}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Account Type" />
                <apex:outputField value="{!opty.Account.Type}"/>
            </apex:pageBlockSectionItem>
           <apex:pageBlockSectionItem >
                <apex:outputText value="Forecast Category" />
                <apex:outputField value="{!opty.ForecastCategoryName}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Order Number" />
                <apex:outputField value="{!opty.SO__c}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Next Step" />
                <apex:outputField value="{!opty.NextStep}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Reason Lost" />
                <apex:outputField value="{!opty.Reason_Lost__c}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Deal Winner (in a Lost Deal)" />
                <apex:outputField value="{!opty.Deal_Winner_in_a_Lost_Deal__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Registration Exp Date" />
                <apex:outputField value="{!opty.RegistrationExpirationDate__c}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Probability" />
                <apex:outputField value="{!opty.Probability}"/>
            </apex:pageBlockSectionItem>
       </apex:pageBlockSection> 
      
      <apex:pageBlockSection columns="2" title="Deal Intelligence">
            <apex:pageBlockSectionItem >
                <apex:outputText value="No. of Sites" />
                <apex:outputField value="{!opty.NoofSites__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Why did we win/lose?" />
                <apex:outputField value="{!opty.Why_did_we_win_lose__c}"/>
            </apex:pageBlockSectionItem>
               <apex:pageBlockSectionItem >
                <apex:outputText value="Purchase Driver" />
                <apex:outputField value="{!opty.Segment__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Did an RTA partner influence this sale?" />
                <apex:outputField value="{!opty.RTA_partner_influence__c}"/>
            </apex:pageBlockSectionItem>
               <apex:pageBlockSectionItem >
                <apex:outputText value="Primary Application" />
                <apex:outputField value="{!opty.Primary_App__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Where did you hear about us?" />
                <apex:outputField value="{!opty.Where_did_you_hear_about_us__c}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Secondary Application" />
                <apex:outputField value="{!opty.SecondaryApplication__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Lead Source" />
                <apex:outputField value="{!opty.LeadSource}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Competitors" />
                <apex:outputField value="{!opty.Competitors__c}"/>
            </apex:pageBlockSectionItem>
           <apex:pageBlockSectionItem >
                <apex:outputText value="Source - Detail" />
                <apex:outputField value="{!opty.SourceDetail__c}"/>
            </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                <apex:outputText value="Bake-Off?" />
                <apex:outputField value="{!opty.Bake_Off__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Campaign Source" />
                <apex:outputField value="{!opty.Campaign.Name}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Key Applications (by name)" />
                <apex:outputField value="{!opty.Key_Applications_by_name__c}"/>
            </apex:pageBlockSectionItem>
         </apex:pageBlockSection> 
         
         <apex:pageBlockSection columns="2" title="Other Information">
            <apex:pageBlockSectionItem >
                <apex:outputText value="Eval/Try and Buy Installed" />
                <apex:outputField value="{!opty.Eval_Try_and_Buy_Installed__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Technical Lead" />
                <apex:outputField value="{!opty.Technical_Lead__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Activity Level" />
                <apex:outputField value="{!opty.ActivityLevel__c}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputText value="Open Tech Issue" />
                <apex:outputField value="{!opty.Open_Tech_Issue__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Decision Maker Name" />
                <apex:outputField value="{!opty.Decision_Maker_Name__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Key Influencer Name" />
                <apex:outputField value="{!opty.Key_Influencer_Name__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Decision Maker Title" />
                <apex:outputField value="{!opty.Decision_Maker_Title__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Key Influencer Title" />
                <apex:outputField value="{!opty.Key_Influencer_Title__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Decision Maker Email" />
                <apex:outputField value="{!opty.Decision_Maker_Email__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Key Influencer Email" />
                <apex:outputField value="{!opty.Key_Influencer_Email__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Decision Maker Phone" />
                <apex:outputField value="{!opty.Decision_Maker_Phone__c}"/>
            </apex:pageBlockSectionItem>
           <apex:pageBlockSectionItem >
                <apex:outputText value="Key Influencer Phone" />
                <apex:outputField value="{!opty.Key_Influencer_Phone__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Created By" />
                <apex:outputField value="{!opty.createdBy.Name}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Last Modified By" />
                <apex:outputField value="{!opty.lastModifiedBy.Name}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Date Created" />
                <apex:outputField value="{!opty.createdDate}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputText value="Date Modified" />
                <apex:outputField value="{!opty.lastModifieddate}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlock title="Open Activities"> 
              <apex:pageBlockTable value="{!openActivityList}" var="list">
             <apex:column headerValue="Subject" value="{!list.Subject}"></apex:column>
              <apex:column headerValue="Task" value="{!list.WhoId}"></apex:column>
             <apex:column headerValue="Due Date" value="{!list.ActivityDate}"></apex:column>
             <apex:column headerValue="Status" value="{!list.Status}"></apex:column>
             <apex:column headerValue="Priority" value="{!list.Priority}"></apex:column>
             <apex:column headerValue="Assigned To" value="{!list.Owner.Name}"></apex:column>
        </apex:pageBlockTable> 
        </apex:pageBlock>
        <apex:pageBlock title="Activity History"> 
              <apex:pageBlockTable value="{!activityHistoryList}" var="list">
              <apex:column headerValue="Subject" value="{!list.Subject}"></apex:column>
              <apex:column headerValue="Task" value="{!list.WhoId}"></apex:column>
             <apex:column headerValue="Due Date" value="{!list.ActivityDate}"></apex:column>
             <apex:column headerValue="Status" value="{!list.Status}"></apex:column>
             <apex:column headerValue="Priority" value="{!list.Priority}"></apex:column>
             <apex:column headerValue="Assigned To" value="{!list.Owner.Name}"></apex:column>
        </apex:pageBlockTable> 
        </apex:pageBlock>
         <apex:pageBlock title="Contact Role" rendered="{!$ObjectType.OpportunityContactRole.createable}"> 
              <apex:pageBlockTable value="{!opportunityContactList}" var="list">
              <apex:column headerValue="Contact Name" value="{!list.Contact.Name}"></apex:column>
              <apex:column headerValue="Email" value="{!list.Contact.Email}"></apex:column>
              <apex:column headerValue="Phone" value="{!list.Contact.Phone}"></apex:column>
              <apex:column headerValue="Role" value="{!list.Role}"></apex:column>
              <apex:column headerValue="Primary" value="{!list.IsPrimary}"></apex:column>
         </apex:pageBlockTable> 
        </apex:pageBlock>
       <apex:pageBlock title="Products" rendered="{!$ObjectType.OpportunityLineItem.createable}"> 
              <apex:pageBlockTable value="{!optyLineItem}" var="list">
              <apex:column headerValue="Product" value="{!list.Pricebookentry.Product2.Name}"></apex:column>
              <apex:column headerValue="Quantity" value="{!list.Quantity}"></apex:column>
       </apex:pageBlockTable> 
        </apex:pageBlock>
        <apex:pageBlock title="Partner" rendered="{!$ObjectType.Partner.createable}"> 
            <apex:pageBlockTable value="{!partnerList}" var="list">
              <apex:column headerValue="Partner" value="{!list.AccountToId}"></apex:column>
              <apex:column headerValue="Role" value="{!list.Role}"></apex:column>
              <apex:column headerValue="Primary" value="{!list.isPrimary}"></apex:column>
            </apex:pageBlockTable> 
        </apex:pageBlock>
</apex:pageBlock>
</apex:form>
</apex:page>