<apex:page standardController="WW_HQ__c" extensions="WWHQViewController" title="{!AccountHQ.Name}">
        <apex:includeScript value="https://maps.google.com/maps/api/js?sensor=false"/>
                
        <apex:sectionHeader subtitle="{!AccountHQ.Name} - {!AccountHQ.Category__c} - {!AccountHQ.Owner.Name}" title="{!AccountsSize} related Accounts" rendered="{!ISBlank(fName)}"/>
        <apex:sectionHeader subtitle="Filtered by {!fName}" title="{!AccountHQ.Name}" rendered="{!NOT(ISBlank(fName))}"/>
        
        <apex:pageMessages id="pageMessages"/>
        
        <div id="theTarget"></div>
        
        <apex:form >
        
        <script language="Javascript" type="text/javascript">
            function convertFn(prmID) {
                alert('We will convert the lead into the contact.\nThis will take 10-25 seconds and will refresh the page when complete.');
                convertFn2(prmID);
            }
        </script>
        
        <apex:actionFunction name="convertFn2" action="{!convertMe}" reRender="pageMessages,MarketingTable">
            <apex:param name="prmID" assignTo="{!prmID}" value=""/>
        </apex:actionFunction>
        
        <apex:pageBlock title="Summary" id="editSummary">
            <apex:pageBlockButtons >
                <apex:CommandButton action="{!doSave}" value=" Save " rerender="detail,editSummary" rendered="{!EditMode}"/>
                <apex:CommandButton action="{!doEdit}" value=" Edit " rerender="editSummary" rendered="{!NOT(EditMode)}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" rendered="{!EditMode}">
                <apex:inputField value="{!AccountHQ.AccountDisposition__c}"/>
                <apex:inputField value="{!AccountHQ.CascadeDisposition__c}"/>
                
                <apex:inputField value="{!AccountHQ.AccountStatus__c}"/>
                <apex:inputField value="{!AccountHQ.AccountNextStep__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" rendered="{!NOT(EditMode)}">
                <apex:outputField value="{!AccountHQ.AccountDisposition__c}"/>
                <apex:outputField value="{!AccountHQ.CascadeDisposition__c}"/>
                
                <apex:outputField value="{!AccountHQ.AccountStatus__c}"/>
                <apex:outputField value="{!AccountHQ.AccountNextStep__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:outputPanel rendered="{!NOT(ISBlank(fName))}">
            <p>Filtered by <strong>{!fName}</strong> (<apex:outputLink value="/apex/WWHQView?id={!AccountHQ.Id}">Click to reset</apex:outputLink>)</p>
        </apex:outputPanel>
        
        <apex:pageBlock title="Information">
                <apex:tabPanel switchType="server">
                        <apex:tab label="{!AccountsSize} Related Accounts" name="Family" id="Family" labelWidth="100">
                                <apex:pageBlockTable value="{!Accounts}" var="item">
                                    <apex:facet name="header">
                                        <apex:outputPanel >
                                            Below are the Accounts related to this company based on D&amp;B and OneSource Hierarchies, GAP, and some manual name matching (max 200 rows).
                                            <br/>
                                            This may include subsidiaries, divisions, duplicate accounts, or other related entities that will help you get a complete picture of RVBD's relationship with
                                            <br/>
                                            this Company. Please report any discrepancies to Sales Execution &amp; Strategy.
                                            <apex:outputPanel rendered="{!NOT(IsNull(AccountReport))}">
                                                <a href="{!AccountReport}" target="_blank">This data is available in a report</a>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:facet>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.record.Id}">{!item.record.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Owner" value="{!item.record.Owner.Name}"/>
                                    <apex:column headerValue="Revenue" value="{!item.record.AnnualRevenue}"/>
                                    <apex:column headerValue="Employees" value="{!item.record.NumberOfEmployees}"/>
                                    <apex:column headerValue="Contacts" value="{!item.ContactsSize}" rendered="false"/>
                                    <apex:column headerValue="Recent Cases" value="{!item.RecentCasesSize}" rendered="false"/>
                                    <apex:column headerValue="Open Ops">
                                            <apex:outputText value="{0} ({1})">
                                                    <apex:param value="{!item.record.Total_Open_Opportunities__c}"/>
                                                    <apex:param value="{!item.record.Amount_Open_Opportunities__c}"/>
                                            </apex:outputText>
                                    </apex:column>
                                    <apex:column headerValue="Won Ops">
                                            <apex:outputText value="{0} ({1})">
                                                    <apex:param value="{!item.record.Total_Closed_Opportunities__c}"/>
                                                    <apex:param value="{!item.record.Amount_Closed_Opportunities__c}"/>
                                            </apex:outputText>
                                    </apex:column>
                                    <apex:column headerValue="Assets" value="{!item.AssetSize}" />
                                    <apex:column headerValue="Last Closed Opp" value="{!item.record.Last_Closed_Opportunity__c}" />
                                    <apex:column headerValue="Disposition" value="{!item.record.Account_Disposition__c}" />
                                    <apex:column headerValue="Products Owned" value="{!item.record.Riverbed_Products_Owned__c}" />
                                    <apex:column headerValue="Filter">
                                        <apex:outputLink value="/apex/WWHQView?id={!AccountHQ.Id}&aid={!item.record.Id}"><apex:image url="http://chart.apis.google.com/chart?chst=d_map_spin&chld=0.5|-90|{!item.Color}|12|_|" rendered="false"/>[filter]</apex:outputLink>                                              
                                    </apex:column>                                           
                                </apex:pageBlockTable>                    
                        </apex:tab>
                        
                        <apex:tab label="{!RelatedSize} Similar Companies" name="Competitors" id="Competitors" labelWidth="100">
                                <apex:pageBlockTable value="{!Related}" var="item">
                                    <apex:facet name="header">
                                        Below are the Companies similar to this company based on D&amp;B and OneSource Industry: {!AccountHQ.Industry__c} (max 200 rows).
                                    </apex:facet>
                                    <apex:column headerValue="Company"><apex:outputLink value="/apex/WWHQView?id={!item.Id}">{!item.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Largest Customer Acct in Family" value="{!item.Largest_Account__c}" />
                                    <apex:column headerValue="Account Owner" value="{!item.Largest_Account__r.Owner.Name}"/>
                                    <apex:column headerValue="Owner Geo" value="{!item.Company_Owner_Geo__c}"/>
                                    <apex:column headerValue="Disposition" value="{!item.AccountDisposition__c}" />
                                    <apex:column headerValue="Category" value="{!item.Category__c}" />         
                                    <apex:column headerValue="G2K Rank" value="{!item.GlobalRank__c}" />         
                                    <apex:column headerValue="Lifetime Spend" value="{!item.Amount_Closed_Opportunities_Range__c}" /> 
                                    <apex:column headerValue="$ Open Opps" value="{!item.AmountOpenOpportunities__c}" />       
                                    <apex:column headerValue="First - Last Closed Opp">
                                     <apex:outputText value="{0,date,MM/dd/yy} - {1,date,MM/dd/yyyy}">
                                        <apex:param value="{!item.FirstClosedOpportunity__c}" />
                                        <apex:param value="{!item.LastClosedOpportunity__c}" />
                                     </apex:outputText>
                                    </apex:column>
                                </apex:pageBlockTable>                    
                        </apex:tab>
                        
                        <apex:tab label="{!TasksSize} Tasks" name="Tasks" id="Tasks" labelWidth="100">
                                <apex:pageBlockTable title="Company/Contact Tasks" value="{!Tasks}" var="item"> 
                                    <apex:facet name="header">
                                        Below are the most recent tasks related to Accounts (and their related Contacts and Opportunities) for this Company sorted by Date (max 200 rows). 
                                    </apex:facet>
                                    <apex:column headerValue="Source" value="{!item.Source}"/>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.WhoWhatId}">{!item.WhoWhat}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Company" value="{!item.Company}"/>
                                    <apex:column headerValue="Subject"><apex:outputLink value="/{!item.record.Id}">{!item.record.Subject}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Contact"><apex:outputLink value="/{!item.Contact}">{!item.ContactName}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Owner" value="{!item.record.Owner.Name}"/>
                                    <apex:column headerValue="Activity Date" value="{!item.record.ActivityDate}"/>                                    
                                    <apex:column headerValue="Status" value="{!item.record.Status}"/>
                                    <apex:column headerValue="Type" value="{!item.record.Task_Type__c}"/>
                                    <apex:column headerValue="SubType" value="{!item.record.Task_Sub_Type__c}"/>
                                    <apex:column headerValue="Detail" value="{!item.record.Task_Detail__c}"/>
                                </apex:pageBlockTable>                             
                        </apex:tab>
                        <!--
                         <apex:tab label="{!MarketingSize} Web/Email History" name="Marketing" id="Marketing"> 
                                <apex:pageBlockTable value="{!MarketingHistory}" var="item" id="MarketingTable">
                                    <apex:facet name="header">
                                        Below are the most recent activities in the past 180 days as tracked by Marketing Automation for related leads and contacts (max 200 rows).
                                        <br/>
                                        Sort is by activity type and then by date of activity (i.e. Web Site Visit, Form Submit, Unsubscribe, Email Open, etc).
                                        <br/>
                                        If there is both a Lead and Contact for a line, it means there is an unconverted lead with the same email as the contact. Click "Convert" to merge the lead into the contact.
                                    </apex:facet>
                                    <apex:column >
                                        <apex:outputPanel rendered="{!AND(NOT(IsNull(item.Lead__c)),NOT(IsNull(item.Contact__c)),NOT(item.Lead__r.IsConverted))}"><a onClick="convertFn('{!item.Id}')">[&nbsp;Convert&nbsp;]</a></apex:outputPanel>
                                    </apex:column>
                                    <apex:column headerValue="Activity" value="{!item.ActivityType__c}"/>
                                    <apex:column headerValue="Date"> 
                                         <apex:outputText value="{0,date,dd-MMM-yyyy}">
                                            <apex:param value="{!item.EventDateTime__c}"/>
                                         </apex:outputText>                                            
                                    </apex:column>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.Account__c}">{!item.Account__r.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Contact"><apex:outputLink value="/{!item.Contact__c}">{!item.Contact__r.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Contact Title" value="{!item.Contact__r.Title}"/>
                                    <apex:column headerValue="Lead Company" value="{!item.Lead__r.Company}"/>
                                    <apex:column headerValue="Lead Name"><apex:outputLink value="/{!item.Lead__c}">{!item.Lead__r.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Lead Title" value="{!item.Lead__r.Title}"/>
                                    <apex:column headerValue="Assigned To" rendered="false"><apex:outputLink value="/{!item.AssignedTo__c}">{!item.AssignedTo__r.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Subject"><apex:outputLink value="/{!item.Id}">{!item.Name}</apex:outputLink></apex:column>
                                </apex:pageBlockTable>
                        </apex:tab>
                        -->
                        <apex:tab label="{!ContactsSize} Top Contacts" name="Contacts" id="Contacts" labelWidth="100">
                                <apex:pageBlockTable value="{!Contacts}" var="item" >
                                    <apex:facet name="header">
                                        <apex:outputPanel >
                                            Below are the top contacts sorted by Estimated Relevance to RVBD (max 200 rows). Relevance is determined by several factors including recent
                                            <br/>
                                            web/email history, being associated with an Opportunity, having a Connect Task logged against them, having logged recent support cases, etc.
                                            <br/>
                                            If you are not speaking to these people, maybe you should be.
                                            <apex:outputPanel rendered="{!NOT(IsNull(ContactReport))}">
                                                <a href="{!ContactReport}" target="_blank">This data is available in a report</a>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:facet>
                                    <apex:column headerValue="Name"><apex:outputLink value="/{!item.Id}">{!item.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.AccountId}">{!item.Account.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Title" value="{!item.Title}"/>
                                    <apex:column headerValue="Email" value="{!item.Email}"/>
                                    <apex:column headerValue="Phone" value="{!item.Phone}"/>
                                    <apex:column headerValue="Manager" rendered="false">
                                        <a href="{!item.ReportsToId}">{!item.ReportsTo.Name}</a>
                                    </apex:column>
                                    <apex:column headerValue="Last Activity" value="{!item.LastActivityDate}"/>
                                    <apex:column headerValue="Rel to RVBD" value="{!item.Relevance_to_RVBD__c}"/>
                                    <apex:column headerValue="">
                                        <apex:outputText value="{!item.Log_A_Call_LM__c}<br/>{!item.Log_A_CONNECT__c}" escape="false"/>
                                    </apex:column>
                                </apex:pageBlockTable>
                        </apex:tab>
                        
                        <apex:tab label="{!LeadsSize} Related Leads" name="Leads" id="Leads" labelWidth="100">
                                <apex:pageBlockTable value="{!Leads}" var="item">
                                    <apex:facet name="header">
                                        <apex:outputPanel >
                                        Below are the open Leads that have been associated to this company based on their phone number, email address, and company name (max 200 rows).
                                        <br/>
                                        Sort is by Created Date, then by marketing lead score (A-B-C-D).
                                        <apex:outputPanel rendered="{!NOT(IsNull(LeadReport))}">
                                            <a href="{!LeadReport}" target="_blank">This data is available in a report</a>
                                        </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:facet>
                                    <apex:column headerValue="Score" value="{!item.Lead_Score__c}"/>
                                    <apex:column headerValue="Owner" value="{!item.Owner.Name}"/>
                                    <apex:column headerValue="Lead Company"><apex:outputLink value="/{!item.Id}">{!item.Company}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Created"> 
                                         <apex:outputText value="{0,date,dd-MMM-yyyy}">
                                            <apex:param value="{!item.CreatedDate}"/>
                                         </apex:outputText>                                            
                                    </apex:column>
                                    <apex:column headerValue="Name"><apex:outputLink value="/{!item.Id}">{!item.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Title" value="{!item.Title}"/>
                                    <apex:column headerValue="Email" value="{!item.Email}"/>
                                    <apex:column headerValue="Phone" value="{!item.Phone}"/>
                                    <apex:column headerValue="State" value="{!item.State}"/>
                                    <apex:column headerValue="Country" value="{!item.Country}"/>
                                    <apex:column headerValue="Status" value="{!item.Status}"/>
                                    <apex:column headerValue="Source" value="{!item.LeadSource}"/>
                                 <apex:column headerValue="Last Activity"> 
                                      <apex:outputText value="{0,date,dd-MMM-yyyy}">
                                        <apex:param value="{!item.LastActivityDate}"/>
                                      </apex:outputText>                                            
                                 </apex:column>
                                 <apex:column headerValue="Rel to RVBD" value="{!item.Relevance_to_RVBD__c}" rendered="false"/>
                                 <apex:column headerValue="Last Modified" rendered="false"> 
                                      <apex:outputText value="{0,date,dd-MMM-yyyy}">
                                        <apex:param value="{!item.LastModifiedDate}"/>
                                      </apex:outputText>                                            
                                 </apex:column>
                                    <apex:column headerValue="">
                                        <apex:outputText value="{!item.Log_A_Call_LM__c}<br/>{!item.Log_A_CONNECT__c}" escape="false"/>
                                    </apex:column>
                                </apex:pageBlockTable>
                        </apex:tab>
                        <!--
                        <apex:tab label="{!EntrypointSize} Entrypoints" name="Entrypoints" id="Entrypoints">
                                <apex:pageBlockTable value="{!Entrypoints}" var="item">
                                    <apex:facet name="header">
                                        Below are some very basic leads you could call based on LinkedIn research and people at this company who know our customers (max 200 rows).
                                        <br/>
                                        These leads need careful de-duping and data enrichment, but are people you may or may not find through other sources (Jigsaw, RainKing, iProfile).
                                    </apex:facet>
                                    <apex:column headerValue="Created"> 
                                         <apex:outputText value="{0,date,dd-MMM-yyyy}">
                                            <apex:param value="{!item.CreatedDate}"/>
                                         </apex:outputText>                                            
                                    </apex:column>
                                    <apex:column headerValue="Company"><apex:outputLink value="/{!item.Id}">{!item.Company}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Name"><apex:outputLink value="/{!item.Id}">{!item.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Title" value="{!item.Title}"/>
                                    <apex:column headerValue="Email" value="{!item.Email}"/>
                                    <apex:column headerValue="Phone" value="{!item.Phone}"/>
                                    <apex:column headerValue="Status" value="{!item.Status}"/>
                                    <apex:column headerValue="Score" value="{!item.Lead_Score__c}"/>
                                 <apex:column headerValue="Last Activity"> 
                                      <apex:outputText value="{0,date,dd-MMM-yyyy}">
                                        <apex:param value="{!item.LastActivityDate}"/>
                                      </apex:outputText>                                            
                                 </apex:column>
                                    <apex:column headerValue="Rel to RVBD" value="{!item.Relevance_to_RVBD__c}" rendered="false"/>
                                 <apex:column headerValue="Last Modified"> 
                                      <apex:outputText value="{0,date,dd-MMM-yyyy}">
                                        <apex:param value="{!item.LastModifiedDate}"/>
                                      </apex:outputText>                                            
                                 </apex:column>
                                </apex:pageBlockTable>
                        </apex:tab>
                        -->
                        <apex:tab label="{!WonOpportunitiesSize} Won Opportunities" name="WonOpportunities" id="WonOpportunities" labelWidth="100">
                                <apex:pageBlockTable value="{!WonOpportunities}" var="item">
                                    <apex:facet name="header">
                                        <apex:outputPanel >
                                        Below are a selection of the most recent Won Opportunities for this Company (max 200 rows). Sort is by Close Date.
                                        <apex:outputPanel rendered="{!NOT(IsNull(OppReport))}">
                                            <a href="{!OppReport}" target="_blank">This data is available in a report</a>
                                        </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:facet>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.record.AccountId}">{!item.record.Account.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Opportunity"><apex:outputLink value="/{!item.record.Id}">{!item.record.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Owner" value="{!item.record.Owner.Name}"/>
                                    <apex:column headerValue="Primary Contact"><apex:outputLink value="/{!item.record.Primary_Contact__c}">{!item.record.Primary_Contact__r.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Partner Closest to Customer"><apex:outputLink value="/{!item.record.Partner_Closest_to_Customer_Id__c}">{!item.record.Partner_Closest_to_Customer_Name__c}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Close Date" value="{!item.record.CloseDate}"/>
                                    <apex:column headerValue="Amount" value="{!item.record.Amount}"/>
                                    <apex:column headerValue="Stage Name" value="{!item.record.StageName}"/>
                                </apex:pageBlockTable>
                        </apex:tab>
                        
                        <apex:tab label="{!OpenOpportunitiesSize} Open Opportunities" name="OpenOpportunities" id="OpenOpportunities" labelWidth="100">
                                <apex:pageBlockTable value="{!OpenOpportunities}" var="item">
                                    <apex:facet name="header">
                                        Below are a selection of the most recent Open Opportunities for this Company (max 200 rows). Sort is by Forecast Category, then by Close Date.
                                    </apex:facet>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.record.AccountId}">{!item.record.Account.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Opportunity"><apex:outputLink value="/{!item.record.Id}">{!item.record.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Owner" value="{!item.record.Owner.Name}"/>
                                    <apex:column headerValue="Primary Contact"><apex:outputLink value="/{!item.record.Primary_Contact__c}">{!item.record.Primary_Contact__r.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Partner Closest to Customer"><apex:outputLink value="/{!item.record.Partner_Closest_to_Customer_Id__c}">{!item.record.Partner_Closest_to_Customer_Name__c}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Close Date" value="{!item.record.CloseDate}"/>
                                    <apex:column headerValue="Amount" value="{!item.record.Amount}"/>
                                    <apex:column headerValue="Stage Name" value="{!item.record.StageName}"/>
                                    <apex:column headerValue="Forecast Category" value="{!item.record.ForecastCategory}"/>
                                    <apex:column headerValue="Trial Program" value="{!item.record.Trial_Program__c}"/>
                                    <apex:column headerValue="">
                                        <apex:outputText value="{!item.record.Log_A_Call_LM__c}<br/>{!item.record.Log_A_CONNECT__c}" escape="false"/>
                                    </apex:column>
                                </apex:pageBlockTable>
                        </apex:tab>
                        
                        <apex:tab label="{!LostOpportunitiesSize} Dead Opportunities" name="LostOpportunities" id="LostOpportunities" labelWidth="100">
                                <apex:pageBlockTable value="{!LostOpportunities}" var="item">
                                    <apex:facet name="header">
                                        <apex:outputPanel >
                                        Below are the most recent Lost Opportunities for this Company (max 200 rows). Sort is by Close Date.
                                        <apex:outputPanel rendered="{!NOT(IsNull(OppReport))}">
                                            <a href="{!OppReport}" target="_blank">This data is available in a report</a>
                                        </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:facet>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.record.AccountId}">{!item.record.Account.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Opportunity"><apex:outputLink value="/{!item.record.Id}">{!item.record.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Close Date" value="{!item.record.CloseDate}"/>
                                    <apex:column headerValue="Owner" value="{!item.record.Owner.Name}"/>
                                    <apex:column headerValue="Amount" value="{!item.record.Amount}"/>
                                    <apex:column headerValue="Stage Name" value="{!item.record.StageName}"/>
                                    <apex:column headerValue="Reason Lost" value="{!item.record.Reason_Lost__c}"/>
                                    <apex:column headerValue="Why Dead?" value="{!item.record.Why_did_we_win_lose__c}"/>
                                </apex:pageBlockTable>
                        </apex:tab>
                        
                        <apex:tab label="{!RecentCasesSize} Recent Cases" name="RecentCases" id="RecentCases" labelWidth="100">
                                <apex:pageBlockTable value="{!RecentCases}" var="item">
                                    <apex:facet name="header">
                                        <apex:outputPanel >
                                        Below are the most recent Cases for this Company (max 200 rows). Sort is by Open/Closed status, then by Created Date.
                                        <apex:outputPanel rendered="{!NOT(IsNull(OppReport))}">
                                            <a href="{!OppReport}" target="_blank">This data is available in a report</a>
                                        </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:facet>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.AccountId}">{!item.Account.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Contact"><apex:outputLink value="/{!item.ContactId}">{!item.Contact.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Case Number"><apex:outputLink value="/{!item.Id}">{!item.CaseNumber}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Priority" value="{!item.Priority}"/>
                                    <apex:column headerValue="Opened" value="{!item.CreatedDate}"/>
                                    <apex:column headerValue="Closed" value="{!item.ClosedDate}"/>
                                    <apex:column headerValue="Status" value="{!item.Status}"/>
                                    <apex:column headerValue="Resolution" value="{!item.Resolution_Code__c}"/>
                                    <apex:column headerValue="Subject" value="{!item.Subject}"/>
                                    <apex:column headerValue="Owner" value="{!item.Owner.Name}"/>
                                </apex:pageBlockTable>
                        </apex:tab>
                        
                        <apex:tab label="{!AssetsSize} Assets" name="Assets" id="Assets" labelWidth="100">
                                <apex:pageBlockTable value="{!Assets}" var="item">
                                    <apex:facet name="header">
                                        <apex:outputPanel >
                                            Below are a selection of Assets for this Company (max 400 rows). Assets are grouped/sorted by Product SubFamily and then by Product.
                                            <apex:outputPanel rendered="{!NOT(IsNull(AccountReport))}">
                                                <a href="{!AssetReport}" target="_blank">This data is available in a report</a>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:facet>
                                    <apex:column headerValue="Account"><apex:outputLink value="/{!item.record.AccountId}">{!item.record.Account.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Serial"><apex:outputLink value="/{!item.record.Id}">{!item.record.Name}</apex:outputLink></apex:column>
                                    <apex:column headerValue="Product" value="{!item.record.Product2.Name}" />
                                    <apex:column headerValue="Contract"><apex:outputText value="{!item.record.Calculated_Contract_Status__c}" escape="false"/></apex:column>
                                    <apex:column headerValue="SubFamily" value="{!item.record.Product2.Product_SubFamily__c}"/>
                                    <apex:column headerValue="Support End" value="{!item.record.Support_End_Date__c}"/>
                                    <apex:column headerValue="Install Date" value="{!item.record.InstallDate}"/>
                                    <apex:column headerValue="EOL" value="{!item.record.Product2.Desupport_Date__c}" />
                                    <apex:column headerValue="Map Marker">
                                        <apex:image url="http://chart.apis.google.com/chart?chst=d_map_spin&chld=0.5|-90|{!item.Color}|12|_|" rendered="true"/>                                        
                                    </apex:column>
                                </apex:pageBlockTable>
                        </apex:tab>
                        
                        <apex:tab label="Asset Summary" name="AssetSummary" id="AssetSummary" rendered="false" labelWidth="100">
                            <apex:outputPanel >
                                <apex:outputText value="{!AssetSummary}" escape="false"/>
                            </apex:outputPanel>
                        </apex:tab>
                        <!--
                        <apex:tab label="Account Map" name="AccountMap" id="AccountMap" onClick="initializeAccounts();">
                            <apex:outputPanel layout="block" id="AccountMapSection">
                                <div style="width: 100%; height:500px;" id="map_canvas"></div>
                            </apex:outputPanel>
                                <apex:pageBlockSection columns="2" collapsible="true" title="Map Legend" >
                                    <apex:outputPanel layout="block" >
                                        <table width="100%">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Prospect Disposition Summary</th>
                                                    <th width="20"></th>
                                                    <th colspan="4">Customers</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=D|8A2BE2|000000" /></td>
                                                    <td>D - No Current Fit (0-4s)</td>
                                                    <td width="20"></td>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_xpin_letter&chld=pin_sleft|1|24E528|000000" /></td>
                                                    <td>&lt;$250K Lifetime Spend</td>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=3|00A400|000000" /></td>
                                                    <td>Last Opportunity &gt; 24 months ago</td>
                                                </tr>
                                                <tr>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=C|FF001D|000000" /></td>
                                                    <td>C – Unknown (5s)</td>
                                                    <td width="20"></td>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=3|24E528|000000" /></td>
                                                    <td>$250K-1M Lifetime Spend</td>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=3|006E00|000000" /></td>
                                                    <td>Last Opportunity &gt; 12 months ago</td>
                                                </tr>
                                                <tr>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=B|FFA500|000000" /></td>
                                                    <td>Prospecting and Keeping in Touch (6s,7s)</td>
                                                    <td width="20"></td>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_xpin_letter&chld=pin_sright|5|24E528|000000" /></td>
                                                    <td>&gt;$1M Lifetime Spend</td>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=3|003C00|000000" /></td>
                                                    <td>Last Opportunity &lt; 12 months ago</td>
                                                </tr>
                                                <tr>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=A|FFF400|000000" /></td>
                                                    <td>Actively Working (8s,9s)</td>
                                                    <td width="20"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td><apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|FFFFFF|000000" /></td>
                                                    <td>No Account Disposition</td>
                                                    <td width="20"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </apex:outputPanel>
                                </apex:pageBlockSection>
                                <script type="text/javascript">
                                    var initializedAccounts = false;
                                    function initializeAccounts() {
                                        if (initializedAccounts) return;
                      
                                        var latlng = new google.maps.LatLng({!Latitude}, {!Longitude});
                                        var myOptions = {
                                            zoom: 4,
                                            center: latlng,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        };
                                        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                                        var marker;
                                        var infowindow = new google.maps.InfoWindow();
                          
                                        <apex:repeat value="{!Accounts}" var="act">
                                            <apex:outputPanel layout="none" id="mapItems" rendered="{!NOT(IsNull(act.record.Latitude__c))}">
                                                latlng{!act.count} = new google.maps.LatLng({!act.record.Latitude__c},{!act.record.Longitude__c});
                                                marker{!act.count} = new google.maps.Marker({
                                                position: latlng{!act.count}, 
                                                map: map,                              
                                                icon: "http://chart.apis.google.com/chart?chst={!act.pinType}{!act.pinText}|{!act.Color}|000000"
                                                });                                                    
                                                
                                                google.maps.event.addListener(marker{!act.count},'mouseover',function(){
                                                    var contentString = "{!JSEncode(act.AccountName)} <br /> {!JSEncode(act.record.Owner.Name)} <br /> # Open Opps: {!act.record.Total_Open_Opportunities__c} (${!act.record.Amount_Open_Opportunities__c})  <br /> # Won Opps: {!act.record.Total_Closed_Opportunities__c} (${!act.record.Amount_Closed_Opportunities__c}) <br />
                                                    <apex:outputText value="Last Closed Opp: {0,date,dd-MMM-yyyy}">
                                                        <apex:param value="{!act.record.Last_Closed_Opportunity__c}" />
                                                    </apex:outputText>";
                                                    infowindow.setContent(contentString);
                                                    infowindow.open(map,marker{!act.count}); });
                                                    
                                                google.maps.event.addListener(marker{!act.count},'mouseout',function(){
                                                    infowindow.close(map,marker{!act.count}); });                                                    
                                                                                                       
                                                google.maps.event.addListener(marker{!act.count}, 'click', function() { 
                                                    var newwindow = window.open("/{!act.record.Id}","{!act.record.Id}");
                                                    newwindow.focus(); });                 
                 
                                            </apex:outputPanel>
                                      </apex:repeat>
                                      initializedAccounts = true;
                                    }
                                    initializeAccounts();
                                </script>
                        </apex:tab>
                        -->
                        <apex:tab label="Asset Map" name="AssetMap" id="AssetMap" labelWidth="100">
                            <apex:outputPanel layout="block" id="AssetMapSection">
                                <div style="width: 100%; height:500px;" id="map_canvas"></div>
                            </apex:outputPanel>
                                
                                <apex:pageBlockSection columns="2" collapsible="true" title="Map Legend" >
                                    <apex:pageBlockSectionItem >                                
                                        <apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|006E00|000000"/> 
                                        <apex:outputLabel value="Active"/>
                                    </apex:pageBlockSectionItem>
                                    <apex:pageBlockSectionItem >                                
                                        <apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|24E528|000000"/> 
                                        <apex:outputLabel value="Demo"/>
                                    </apex:pageBlockSectionItem>
                                    <apex:pageBlockSectionItem >                                
                                        <apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|FFF400|000000"/> 
                                        <apex:outputLabel value="Right of Return"/>
                                    </apex:pageBlockSectionItem>    
                                    <apex:pageBlockSectionItem >                                
                                        <apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|FFA500|000000"/> 
                                        <apex:outputLabel value="Evaluation"/>
                                    </apex:pageBlockSectionItem> 
                                    <apex:pageBlockSectionItem >                                
                                        <apex:image url="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|FF001D|000000"/> 
                                        <apex:outputLabel value="Expired"/>
                                    </apex:pageBlockSectionItem>                                                                                                                                 
                                </apex:pageBlockSection>
                            
                                <script type="text/javascript">
                                    var initializedAssets = false;
                                    function initializeAssets() {
                                        if (initializedAssets) return;
                      
                                        var latlng = new google.maps.LatLng({!Latitude}, {!Longitude});
                                        var myOptions = {
                                            zoom: 4,
                                            center: latlng,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        };
                                        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                                        var marker;
                                        var infowindow = new google.maps.InfoWindow();
                                        
                                        <apex:repeat value="{!Assets}" var="ast">
                                            <apex:outputPanel layout="none" id="mapItems" rendered="{!NOT(IsNull(ast.record.Latitude__c))}">
                                                latlng{!ast.count} = new google.maps.LatLng({!ast.record.Latitude__c},{!ast.record.Longitude__c});
                                                marker{!ast.count} = new google.maps.Marker({
                                                position: latlng{!ast.count}, 
                                                map: map,

                                                icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld={!ast.accountCount}|{!ast.Color}|000000"
                                                });
                                                
                                                google.maps.event.addListener(marker{!ast.count},'mouseover',function(){
                                                    var contentString = "{!JSEncode(ast.record.Product2.Name)}  <br />  Serial: {!JSEncode(ast.record.Name)}  <br />  {!JSEncode(ast.record.Account.Name)}  <br />  Support: {!JSEncode(ast.Status)}  <br />  <apex:outputText value="Ending: {0,date,MM-dd-yyyy}">
                                                        <apex:param value="{!ast.record.Support_End_Date__c}"/></apex:outputText>";
                                                    infowindow.setContent(contentString);
                                                    infowindow.open(map,marker{!ast.count}); });
                                                    
                                                google.maps.event.addListener(marker{!ast.count},'mouseout',function(){
                                                    infowindow.close(map,marker{!ast.count}); });   
                                                     
                                                google.maps.event.addListener(marker{!ast.count}, 'click', function() { 
                                                    var newwindow = window.open("/{!ast.record.Id}",'width=800,height=500');
                                                    newwindow.focus(); });                   
                                            </apex:outputPanel>
                                      </apex:repeat>
                                      initializedAssets = true;
                                    }
                                    initializeAssets();
                                </script>
                        </apex:tab>
                </apex:tabPanel>         
        </apex:pageBlock>
                </apex:form>

        <apex:outputPanel rendered="false">
            <IFRAME id="iv_homepage" height="250" src="javascript:'';" frameBorder="0" width="100%" name="iv_homepage"></IFRAME>
            <SCRIPT language="JavaScript" type="text/javascript">
                function get_cookie ( cookie_name ) {
                    var results = document.cookie.match ( '(^|;)?' + cookie_name + '=([^;]*)(;|$)' );
                    if ( results ) return ( unescape ( results[2] ) ); else return null;
                }
                
                function doLoadMashup() {
                    var homepage_mashup = "https://my.insideview.com/iv/crm/showSfHomePage.do?methodName=loadConsole&from=login&sort=date&sfHomePage=sfHomePage&crm_version=v53&crmUID=" + get_cookie('sid_Client');
                    window.frames["iv_homepage"].location.replace(homepage_mashup);
                }
                
                if (window.addEventListener){
                    window.addEventListener("load", doLoadMashup, false);
                } else if (window.attachEvent){
                    var evt = window.attachEvent("onload", doLoadMashup);
                } else {
                    window.onload = doLoadMashup;
                }
            </SCRIPT>
        </apex:outputPanel>
                            
        <apex:detail subject="{!AccountHQ.Id}" relatedList="false" title="false" id="detail"/>
        
</apex:page>